*:not(input){
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body, html{
  margin: 0;
  padding:0;
  width:100%;
  height:100%;
}

#console {
    position: fixed;
    top: 0;
    height: 200px;
    width: 302px;
    text-align: center;
    color: white;
    background: black;
    border: 1px solid grey;
    z-index: 10;
}

#waveCanvas {
    height: 150px;
    white-space: nowrap;
    overflow: auto;
    overflow-x: hidden;
}

#messages {
    height: 160px;
    white-space: nowrap;
    overflow: auto;
    overflow-x: hidden;
}


#volume {
    height: 42px;
}

#songs {
    text-align: center;
}

#trackControl {
    float: left;
    width: 260px;
    overflow: hidden;
}

#tracks {
    width: 260px;
    margin-top: 0px;
}

.trackBox {
    text-align: center;
    border: 1px solid grey;
}

#canvass {
    margin-left: 380px;
}

#myCanvas {
    width: 100%;
    position: absolute;
    height: 150px;
    z-index: 0;
}
#frontCanvas {
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 1;
}

#scroll {
    position: absolute;
    overflow-x: hidden;
    top: 303px;
    width: 100%;
    background: #525252;
}

button {
    height: 42px;
    width: 42px;
}

#sound {
    position: absolute;
    margin-left: 28px;
    margin-top: 28px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #000;
    cursor: default;
    background: #EEE;
    border: 1px solid #000;
    border-bottom-color: transparent;
}

.nav {
    margin-bottom: 0;
}

a[data-toggle=tab] {
    color: #EEE;
    text-decoration: none;
}

.pisteProgress {
    display: none;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);
    margin-left: -30px;
    height: 20px;
    margin-top: 22px;
}

.instruName{
    margin-top: 20px;
    font-size: 1.5em;
    color: white;
}

.knobDiv {
    float: right;
}

.activated {
    color: black;
    background-color: #00F0F0;
    border-radius: 50%;
}

.activatedMute {
    color: black;
    background-color: red;
    border-radius: 50%;
}

.volumeSlider {
    margin-left: 15px;
    width: 170px;
}

.masterVolumeSlider {
    margin-left: 15px;
    width: 200px;
}

/***** for sliders *****/

.touch {
    width: 40%;
}

.custom {
    width: 60%;
    height: 6px;
    border-radius: 2px;
    -webkit-appearance: none !important;
    -webkit-box-shadow: inset 0 0 5px #333;
}

/* Change the Slider Button Color Here */

.custom::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #AAA;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 15px;
}

.custom::-moz-range-thumb {
    background: #AAA;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 15px;
}
/*
.custom::-webkit-slider-runnable-track{
    height: 6px;
}*/


/* ONLY applicable if you want the bubble above the slider */

output {
    width: 100px;
    height: 40px;
    font-size: 2em;
}


/* NEW STYLE */
/* (ouech) */


@import url(http://fonts.googleapis.com/css?family=Titillium+Web:600,400,300);

*:not(i){
    font-family: 'Titillium Web', sans-serif !important;
}
body {
    margin: 0;
    padding: 0;
    background: black;
}

#app {
    width: 100%;
    height:100%;
    background-color: #EEE;
}

#masterTools {
    position: fixed;
    top: 0;
    height: 300px;
    width: 100%;
    background: #E7E7E7;
    border: 1px solid grey;
    z-index: 10;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    z-index: 100;
}

#leftHeader{
    width:100%;
    height:100%;
}

#rightHeader{
    width:80px;
    height:100%;
    border-left: 3px solid black;
    text-align: center;
}

#rightHeader > i{
    margin-bottom: 30px;
}

#rightHeader > i:first-child{
    margin-top: 10px;
}

#ce-search{
    display: -webkit-flex;
}

#loadingTracks {
    text-align: center;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-grow: 1;
    margin-top: 20px;
    font-size: 1.1em;
}

#ce-titleControls{
    height:80px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
}

.ce-icon-text{
    display:inline-block;
    text-align:center;
    margin-top:7px;
}

.ce-icon-text > div{
    font-size:0.8em;
    width:100%;
}


.ce-icon-text:first-child{
    margin-left: 270px;
    margin-right:15px;
}


#ce-title{
    margin-left: 10px;
    font-size:1.7em;
    line-height: 80px;
    width:100%;
    text-align: center;
}

#ce-playbackControls{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    height: 150px;
}
#ce-playbackControls > #ce-ctrl-btns{
    text-align:center;
}

#ce-playbackControls  i{
    margin:5px;
    color: rgb(182, 182, 182);
}

#ce-playbackControls > .ce-ctrl-wave{
    -webkit-flex-grow: 1;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}


#ce-playbackControls .row-3{
    display: -webkit-flex;
}

#volume-bar{
    position: relative;
    background-color: black;
    height: 4px;
    width: 200px;
    border-radius: 2px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
#volume-bar .bar{
    width: 50%;
    height: 6px;

    border-radius: 3px;
    position: absolute;
    top: -1px;
    background-color: white;
}
#volume-bar .circle{
    position: absolute;
    right: -5px;
    top: -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    padding: 0;
    border: 0;
}

.partoche {
    width: 77%;
    position: absolute;
    height: 120px;
    margin-left: 2px;
    margin-top: 2px;
    background-color: white;
    background-repeat: no-repeat;
    background-image: url("../img/partoche_demo.png");
    background-position-x: center;
    z-index: 0;

}

#songs select {
    display:block;
    line-height:1.5em;
    font-size:1em;
    height:40px;
    margin:10px;
    padding:5px;
    padding-left: 10px;
    width: 250px;
    background: url(../img/down_arrow_select.jpg) no-repeat right #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ce-flex-title-control{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    width:100%;
}

#ce-bpm{
   width:150px;
}

.ce-bpm-select{
    display:inline-block;
    text-align:center;
    margin-left:5px;
    margin-top:10px;
    margin-bottom:10px;
}

.ce-bpm-select > span{
    font-size: 0.9em;
}

.trakCtrlsCont{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

#togetherjs-dock{
    top: 80px !important;
    right: 7px !important;
}